.header-container-father {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    height: 45px;
    font-family: sans-serif;
}

.header-container-father * {
    display: inline-block;
    vertical-align: middle;
}

.logo{
    width: 15%;
    text-align: left;
}

.navbar {
    width: 70%;
    text-align: center;
}

.navbar-options li {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
}

.navbar-options a{
    color: #025157;
    text-decoration: none;
}
  
.actions {
    display: inline;
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.actions * {
    margin-right: 10px;
    margin-left: 10px;
}
  
.actions a {
    color: #67b54b;
    text-decoration: none;
}
  
.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}